/* Dark mode colors. */
:root {
	--hero-brightness: 300%;
	--sl-color-accent-low: #1a2434;
	--sl-color-accent: #436aa3;
	--sl-color-accent-high: #bbcadf;
	--sl-color-white: #ffffff;
	--sl-color-gray-1: #eaeef3;
	--sl-color-gray-2: #bdc3c8;
	--sl-color-gray-3: #838d98;
	--sl-color-gray-4: #505963;
	--sl-color-gray-5: #303942;
	--sl-color-gray-6: #1f2830;
	--sl-color-black: #15191d;
}

/* Light mode colors. */
:root[data-theme='light'] {
	--hero-brightness: 0%;
	--sl-color-accent-low: #cdd8e8;
	--sl-color-accent: #456ca5;
	--sl-color-accent-high: #22334c;
	--sl-color-white: #15191d;
	--sl-color-gray-1: #1f2830;
	--sl-color-gray-2: #303942;
	--sl-color-gray-3: #505963;
	--sl-color-gray-4: #838d98;
	--sl-color-gray-5: #bdc3c8;
	--sl-color-gray-6: #eaeef3;
	--sl-color-gray-7: #f4f6f9;
	--sl-color-black: #ffffff;
}

[data-has-hero] .page {
	background:
		linear-gradient(215deg, var(--sl-color-accent-low), transparent 40%),
		radial-gradient(var(--sl-color-accent-low), transparent 40%) no-repeat -60vw -40vh / 105vw 200vh,
		radial-gradient(var(--sl-color-accent-low), transparent 65%) no-repeat 50% calc(100% + 20rem) /
			60rem 30rem;
}

[data-has-hero] header {
	border-bottom: 1px solid transparent;
	background-color: transparent;
	-webkit-backdrop-filter: blur(16px);
	backdrop-filter: blur(16px);
}

[data-has-hero] .hero > img {
	filter: brightness(var(--hero-brightness));
}

.about-image {
	filter: brightness(var(--hero-brightness));
}
