/* Dark mode colors. */
:root {
	--sl-color-accent-low: #301b30;
	--sl-color-accent: #934695;
	--sl-color-accent-high: #dabeda;
	--sl-color-white: #ffffff;
	--sl-color-gray-1: #eeedef;
	--sl-color-gray-2: #c2c1c4;
	--sl-color-gray-3: #8c8b90;
	--sl-color-gray-4: #58575c;
	--sl-color-gray-5: #38373c;
	--sl-color-gray-6: #27262a;
	--sl-color-black: #18181a;
}
/* Light mode colors. */
:root[data-theme='light'] {
	--sl-color-accent-low: #e4cfe4;
	--sl-color-accent: #954897;
	--sl-color-accent-high: #452446;
	--sl-color-white: #18181a;
	--sl-color-gray-1: #27262a;
	--sl-color-gray-2: #38373c;
	--sl-color-gray-3: #58575c;
	--sl-color-gray-4: #8c8b90;
	--sl-color-gray-5: #c2c1c4;
	--sl-color-gray-6: #eeedef;
	--sl-color-gray-7: #f6f6f7;
	--sl-color-black: #ffffff;
}